@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* display none */

.pc-nav{
    display: none;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../imgs/bg_moblie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


#logo, .logo-innc{
    width: 100px;
    display: block;
}



#header{
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.452);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    color: #FFF;
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display:flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    gap: .5rem;
}

.hamburger{
    color: rgb(255, 255, 255);
    width: 20px;
    border-top: 2px solid;
}

.hamburger::after, .hamburger::before{
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    margin-top: 7px;
    background: currentColor;
    transition: .4s;
    position: relative;
}

#nav.active .hamburger{
    transition: .2s;
    border-top-color: transparent;

}

#nav.active .hamburger::before{
    transition: .5s;
    transform: rotate(135deg);

}

#nav.active .hamburger::after{
    transition: .5s;
    transform: rotate(-135deg);
    top: -9px;
    
}

#menu{
    text-align: right;
    display:block;
    position: absolute;
    width: 100%;
    height: 30vh;
    top: 90px;
    right: 0px;
    padding-bottom: 10px;
    height: 0px;
    background: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    visibility: hidden;
    overflow-y: hidden;
    transition: .8s;
}

#nav.active #menu{
    background: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    position: absolute;
    height: 30vh;
    width: 100%;
    visibility: visible;

}

#menu a{
    padding: 1rem 0;
    margin:  0 1.2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.301);
}

#menu a:hover{
    color: #d1d1d1;
}


