@charset "UTF-8";

/* MEDIA QUERY */



/* IMPORTS  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@font-face {
    font-family: Ginger;
    src: url(../fonts/Ginger.otf);
    src: url(../fonts/Ginger.ttf);
    src: url(../fonts/Ginger.woff);
}

/* FINISH IMPORTS */


@media screen and (min-width: 819px) {
    /*  display none */
    #nav, #btn-mobile, button{
        display: none;
    }

    /* finish display none */

    #header{
        position: sticky;
    }

    body{
        background-image: url(../imgs/bg_full_hd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pc-nav{
        display: flex;
    }

    .ul-pc-nav{
        display: flex;
        gap: 20px;
        list-style: none;
    }

    .logo_innc_pc_nav{
        width: 100px;
    }

    .ul-pc-nav > a{
        color: rgb(255, 255, 255);
    }

    .ul-pc-nav > a:hover{
        transition: 500ms;
        color: rgb(197, 197, 198);
    }

}